/* Asegura que el body ocupe toda la altura y se organiza con flexbox */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Ajuste del contenedor principal para ocupar el espacio disponible */
.container {
    flex: 1 0 auto;
    padding-bottom: 2rem; /* Espacio para el footer */
}

/* Personalización de las tarjetas */
.card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    scale: 1.05;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* Resalta el título de la tarjeta */
.card-title {
    color: #007bff;
    font-weight: bold;
}

/* Centra el texto durante la carga */
.text-center {
    text-align: center;
}
