
body, html {
  /* height: 100%; */
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.bg {
  background-color: #007B8F; /* Using a solid background color */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.card-body .card-title {
  color: black;
  font-size: 3rem;
  padding: 20px;
  border-radius: 10px;
}

.card-body {
  color: black;
  font-size: 5rem;
  background: rgba(255, 255, 255, 0.5); /* Adding a semi-transparent background for readability */
  padding: 20px;
  border-radius: 10%;
}

label {
  display: flex;
  font-size: 2rem;
}

.btn-custom {
  background-color: white;
  color: black;
}

.bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../assets/fondo-final-pagina-central.png');
  background-size: cover;
  background-position: center;
}

.letter h4 {
  font-size: 16px;
  font-weight: bold;
}

.letter label{
  font-size: 13px;
  font-weight: bold;
}

.letter input{
  font-size: 13px;
}


