<nav class="navbar navbar-expand-md bg-dark border-bottom border-body">
    <div class="container">
        <div class="navbar-brand" href="#">
            <img src="/assets/LogoAppSisvita2.png" alt="Logo" width="40" height="40">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            
            <div *ngIf="user === 'especialista'; else studentNavbar">
                <ng-container *ngTemplateOutlet="specialistNavbar"></ng-container>
            </div>
        </div>
    </div>
</nav>


<ng-template #specialistNavbar>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link text-white" href="../dashboard">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="../pacientes">Pacientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="../horario">Horario</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="../perfil">Mi Cuenta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="../usuarios" (click)="exit()">Cerrar Sesión</a>
        </li>
    </ul>
</ng-template>

<ng-template #studentNavbar>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link text-white" href="../home">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="../select-test">Realizar Test</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="../tests-performed">Mis test realizados</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="../my-profile">Mi Cuenta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="../usuarios" (click)="exit()">Cerrar Sesión</a>
        </li>
    </ul>
</ng-template>