.container {
    margin-top: 20px;
}

.list-group-item {
    margin-bottom: 10px;
}

.alert {
    margin-top: 20px;
}


.btn-group-toggle .btn {
    margin-right: 5px;
}

.btn-group-toggle .btn:last-child {
    margin-right: 0;
}

.option{
    display: flex;
    gap: 10px;
}