<div class="bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-light shadow-lg border-0 rounded">
                    <div class="card-body">
                        <h2 class="text-center card-title">Iniciar Sesión</h2>
                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <div class="form-group mt-4">
                                <label for="correo">Correo</label>
                                <input type="email" formControlName="correo" class="form-control mt-2" id="correo"
                                    placeholder="Ingrese su correo">
                            </div>
                            <div class="form-group mt-4">
                                <label for="password">Contraseña</label>
                                <input type="password" formControlName="password" class="form-control mt-2"
                                    id="password" placeholder="Ingrese su contraseña">
                            </div>
                        </form>
                        <div class="options">
                            <button type="button"
                                class="btn btn-primary btn-block mt-4"
                                (click)="login()"
                            >
                                Login
                            </button>
                            <button *ngIf="user === 'paciente'" class="btn btn-secondary btn-block mt-4" (click)="openModal(estudianteContent); obtenerDepartamentos(registerPacienteForm)"
                            >
                                Registrar
                            </button>
                            <button *ngIf="user === 'especialista'" class="btn btn-secondary btn-block mt-4" (click)="openModal(especialistaContent); obtenerDepartamentos(registrarEspecialistaForm)"
                            >
                                Registrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #estudianteContent let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Registrar Paciente</h5>
    </div>
    <div class="modal-body">
        <form [formGroup]="registerPacienteForm" class="letter">
            <div class="row">
                <div class="col-md-12">
                    <h4>Datos Personales</h4>
                    <div class="form-group">
                        <label for="tipo_documento">Tipo de Documento</label>
                        <select formControlName="tipo_documento" class="form-control" id="tipo_documento">
                            <option value="DNI">DNI</option>
                            <option value="Pasaporte">Pasaporte</option>
                            <option value="CE">Carnet de Extranjería</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="documento">Número de Documento</label>
                        <input type="text" formControlName="documento" class="form-control" id="documento"
                            placeholder="Ingrese su número de documento">
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" formControlName="nombre" class="form-control" id="nombre"
                            placeholder="Ingrese su nombre">
                    </div>
                    <div class="form-group">
                        <label for="apellido_paterno">Apellido Paterno</label>
                        <input type="text" formControlName="apellido_paterno" class="form-control" id="apellido_paterno"
                            placeholder="Ingrese su apellido paterno">
                    </div>
                    <div class="form-group">
                        <label for="apellido_materno">Apellido Materno</label>
                        <input type="text" formControlName="apellido_materno" class="form-control" id="apellido_materno"
                            placeholder="Ingrese su apellido materno">
                    </div>
                    <div class="form-group">
                      <label for="departamento">Departamento</label>
                      <select [(ngModel)]="departamento" formControlName="departamento" class="form-control" id="departamento" (change)="obtenerProvincias(departamento, registerPacienteForm)">
                        <option *ngFor="let depart of departamentos" [value]="depart">{{depart}}</option>
                      </select>
                      <label for="provincia">Provincia</label>
                      <select [(ngModel)]="provincia" formControlName="provincia" class="form-control" id="provincia" (change)="obtenerDistritos(departamento, provincia)">
                        <option *ngFor="let prov of provincias" [value]="prov">{{prov}}</option>
                      </select>
                      <label for="distrito">Distrito</label>
                      <select [(ngModel)]="distrito" formControlName="distrito" class="form-control" id="distrito">
                        <option *ngFor="let distri of distritos" [value]="distri">{{distri}}</option>
                      </select>
                  </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="text" formControlName="telefono" class="form-control" id="telefono"
                            placeholder="Ingrese su teléfono">
                    </div>
                    <!-- fecha nacimiento -->
                    <div class="form-group">
                        <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                        <input type="date" formControlName="fecha_nacimiento" class="form-control" id="fecha_nacimiento"
                        placeholder="Ingrese su fecha de nacimiento">
                    </div>
                    <!-- Sexo -->
                    <div class="form-group">
                        <label for="sexo">Sexo</label>
                        <select formControlName="sexo" class="form-control" id="sexo">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                            <option value="X">Otro</option>
                        </select>
                    </div>

                    <h4>Datos de Usuario</h4>
                    <div class="form-group">
                        <label for="correo">Correo</label>
                        <input type="email" formControlName="correo" class="form-control" id="correo"
                            placeholder="Ingrese su correo">
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" formControlName="password" class="form-control" id="password"
                            placeholder="Ingrese su contraseña">
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirmar Contraseña</label>
                        <input type="password" formControlName="confirm_password" class="form-control" (input)="checkPasswords(registerPacienteForm)"
                            id="confirm_password" placeholder="Confirme su contraseña">
                        <div *ngIf="this.registerPacienteForm.get('confirm_password')?.errors?.['notSame']" class="text-danger">
                            Las contraseñas no coinciden.
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cancelar Registro</button>
        <button type="button" class="btn btn-primary" (click)="register()">Registrarse</button>
    </div>
</ng-template>

<ng-template #especialistaContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Registrar Especialista</h5>
</div>
<div class="modal-body">
    <form [formGroup]="registrarEspecialistaForm" class="letter">
        <div class="row">
            <div class="col-md-12">
                <h4>Datos Personales</h4>
                <div class="form-group">
                    <label for="tipo_documento">Tipo de Documento</label>
                    <select formControlName="tipo_documento" class="form-control" id="tipo_documento">
                        <option value="DNI">DNI</option>
                        <option value="Pasaporte">Pasaporte</option>
                        <option value="Carnet de Extranjería">Carnet de Extranjería</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="documento">Número de Documento</label>
                    <input type="text" formControlName="documento" class="form-control" id="documento"
                        placeholder="Ingrese su número de documento">
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" formControlName="nombre" class="form-control" id="nombre"
                        placeholder="Ingrese su nombre">
                </div>
                <div class="form-group">
                    <label for="apellido_paterno">Apellido Paterno</label>
                    <input type="text" formControlName="apellido_paterno" class="form-control" id="apellido_paterno"
                        placeholder="Ingrese su apellido paterno">
                </div>
                <div class="form-group">
                    <label for="apellido_materno">Apellido Materno</label>
                    <input type="text" formControlName="apellido_materno" class="form-control" id="apellido_materno"
                        placeholder="Ingrese su apellido materno">
                </div>
                <!-- Ubicacion por Departameno, Provincia, Distrito -->
                <div class="form-group">
                    <label for="departamento">Departamento</label>
                    <select [(ngModel)]="departamento" formControlName="departamento" class="form-control" id="departamento" (change)="obtenerProvincias(departamento, registrarEspecialistaForm)">
                      <option *ngFor="let depart of departamentos" [value]="depart">{{depart}}</option>
                    </select>
                    <label for="provincia">Provincia</label>
                    <select [(ngModel)]="provincia" formControlName="provincia" class="form-control" id="provincia" (change)="obtenerDistritos(departamento, provincia)">
                      <option *ngFor="let prov of provincias" [value]="prov">{{prov}}</option>
                    </select>
                    <label for="distrito">Distrito</label>
                    <select [(ngModel)]="distrito" formControlName="distrito" class="form-control" id="distrito">
                      <option *ngFor="let distri of distritos" [value]="distri">{{distri}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="text" formControlName="telefono" class="form-control" id="telefono"
                        placeholder="Ingrese su teléfono">
                </div>
                <!-- fecha nacimiento -->
                <div class="form-group">
                    <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                    <input type="date" formControlName="fecha_nacimiento" class="form-control" id="fecha_nacimiento"
                    placeholder="Ingrese su fecha de nacimiento">
                </div>
                <!-- Sexo -->
                <div class="form-group">
                    <label for="sexo">Sexo</label>
                    <select formControlName="sexo" class="form-control" id="sexo">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                        <option value="X">Otro</option>
                    </select>
                </div>

                <h4>Datos de Usuario</h4>
                <div class="form-group">
                    <label for="correo">Correo</label>
                    <input type="email" formControlName="correo" class="form-control" id="correo"
                        placeholder="Ingrese su correo">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" formControlName="password" class="form-control" id="password"
                        placeholder="Ingrese su contraseña">
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirmar Contraseña</label>
                    <input type="password" formControlName="confirm_password" class="form-control" (input)="checkPasswords(registrarEspecialistaForm)"
                        id="confirm_password" placeholder="Confirme su contraseña">
                    <div *ngIf="this.registrarEspecialistaForm.get('confirm_password')?.errors?.['notSame']" class="text-danger">
                        Las contraseñas no coinciden.
                    </div>
                </div>

                <h4>Datos de Especialista</h4>
                <div class="form-group">
                    <label for="licencia">Licencia</label>
                    <input type="text" formControlName="licencia" class="form-control" id="licencia"
                        placeholder="Ingrese numero de licencia">
                </div>
                <div class="form-group">
                    <label for="especialidad">Especialidad</label>
                    <input type="text" formControlName="especialidad" class="form-control" id="especialidad"
                        placeholder="Ingrese su especialidad">
                </div>
                <div *ngIf="!this.checkpass">Passwords do not match</div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cancelar Registro</button>
    <button type="button" class="btn btn-primary" (click)="register()">Registrarse</button>
</div>
</ng-template>
