<div class="bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-light shadow-lg border-0 rounded">
                    <div class="card-body">
                        <h2 class="text-center card-title">Iniciar Sesión</h2>
                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <div class="form-group mt-4">
                                <label for="correo">Correo</label>
                                <input type="email" formControlName="correo" class="form-control mt-2" id="correo"
                                    placeholder="Ingrese su correo">
                            </div>
                            <div class="form-group mt-4">
                                <label for="password">Contraseña</label>
                                <input type="password" formControlName="password" class="form-control mt-2"
                                    id="password" placeholder="Ingrese su contraseña">
                            </div>
                        </form>
                        <div class="options">
                            <button 
                                class="btn btn-primary btn-block mt-4"
                                (click)="login()"
                            >
                                Login
                            </button>
                            <button *ngIf="user === 'paciente'" class="btn btn-secondary btn-block mt-4"
                            >
                                Registrar
                            </button>
                            <button *ngIf="user === 'especialista'" class="btn btn-secondary btn-block mt-4"
                            >
                                Registrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-light shadow-lg border-0 rounded">
                    <div class="card-body">
                        <h2 class="text-center card-title">Iniciar Sesión</h2>
                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <div class="form-group mt-4">
                                <label for="correo">Correo</label>
                                <input type="email" formControlName="correo" class="form-control mt-2" id="correo"
                                    placeholder="Ingrese su correo">
                            </div>
                            <div class="form-group mt-4">
                                <label for="password">Contraseña</label>
                                <input type="password" formControlName="password" class="form-control mt-2"
                                    id="password" placeholder="Ingrese su contraseña">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mt-4">Login</button>
                        </form>
                        <button *ngIf="user === 'estudiante'" class="btn btn-secondary btn-block mt-4"
                            (click)="openRegisterModal(estudianteContent)">Registrar</button>
                        <button *ngIf="user === 'especialista'" class="btn btn-secondary btn-block mt-4"
                            (click)="openRegisterModal(especialistaContent)">Registrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #estudianteContent let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Registrar Estudiante</h5>
    </div>
    <div class="modal-body">
        <form [formGroup]="registerEstudianteForm" class="letter">
            <div class="row">
                <div class="col-md-6">
                    <h4>Datos Personales</h4>
                    <div class="form-group">
                        <label for="tipo_documento">Tipo de Documento</label>
                        <select formControlName="tipo_documento" class="form-control" id="tipo_documento">
                            <option value="DNI">DNI</option>
                            <option value="Pasaporte">Pasaporte</option>
                            <option value="Carnet de Extranjería">Carnet de Extranjería</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="documento">Número de Documento</label>
                        <input type="text" formControlName="documento" class="form-control" id="documento"
                            placeholder="Ingrese su número de documento">
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" formControlName="nombre" class="form-control" id="nombre"
                            placeholder="Ingrese su nombre">
                    </div>
                    <div class="form-group">
                        <label for="apellido_paterno">Apellido Paterno</label>
                        <input type="text" formControlName="apellido_paterno" class="form-control" id="apellido_paterno"
                            placeholder="Ingrese su apellido paterno">
                    </div>
                    <div class="form-group">
                        <label for="apellido_materno">Apellido Materno</label>
                        <input type="text" formControlName="apellido_materno" class="form-control" id="apellido_materno"
                            placeholder="Ingrese su apellido materno">
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="text" formControlName="telefono" class="form-control" id="telefono"
                            placeholder="Ingrese su teléfono">
                    </div>
                    <div class="form-group">
                        <label for="correo">Correo</label>
                        <input type="email" formControlName="correo" class="form-control" id="correo"
                            placeholder="Ingrese su correo">
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" formControlName="password" class="form-control" id="password"
                            placeholder="Ingrese su contraseña">
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirmar Contraseña</label>
                        <input type="password" formControlName="confirm_password" class="form-control"
                            id="confirm_password" placeholder="Confirme su contraseña">
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Datos de Estudiante</h4>
                    <div class="form-group">
                        <label for="anio_ingreso">Año de Ingreso</label>
                        <input type="text" formControlName="anio_ingreso" class="form-control" id="anio_ingreso"
                            placeholder="Ingrese el año de ingreso">
                    </div>
                    <div class="form-group">
                        <label for="base">Base</label>
                        <input type="text" formControlName="base" class="form-control" id="base"
                            placeholder="Ingrese la base">
                    </div>
                    <div class="form-group">
                        <label for="carrera">Carrera</label>
                        <input type="text" formControlName="carrera" class="form-control" id="carrera"
                            placeholder="Ingrese la carrera">
                    </div>
                    <div class="form-group">
                        <label for="ciclo_actual">Ciclo Actual</label>
                        <input type="text" formControlName="ciclo_actual" class="form-control" id="ciclo_actual"
                            placeholder="Ingrese el ciclo actual">
                    </div>
                    <div class="form-group">
                        <label for="cod_estudiante">Código de Estudiante</label>
                        <input type="text" formControlName="cod_estudiante" class="form-control" id="cod_estudiante"
                            placeholder="Ingrese el código de estudiante">
                    </div>
                    <div class="form-group">
                        <label for="facultad">Facultad</label>
                        <input type="text" formControlName="facultad" class="form-control" id="facultad"
                            placeholder="Ingrese la facultad">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cancelar Registro</button>
        <button type="button" class="btn btn-primary" (click)="register()">Registrarse</button>
    </div>
</ng-template>

<ng-template #especialistaContent let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Registrar Especialista</h5>
    </div>
    <div class="modal-body">
        <form [formGroup]="registerEspecialistaForm" class="letter">
            <div class="row">
                <div class="col-md-6">
                    <h4>Datos Personales</h4>
                    <div class="form-group">
                        <label for="tipo_documento">Tipo de Documento</label>
                        <select formControlName="tipo_documento" class="form-control" id="tipo_documento">
                            <option value="DNI">DNI</option>
                            <option value="Pasaporte">Pasaporte</option>
                            <option value="Carnet de Extranjería">Carnet de Extranjería</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="documento">Número de Documento</label>
                        <input type="text" formControlName="documento" class="form-control" id="documento"
                            placeholder="Ingrese su número de documento">
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" formControlName="nombre" class="form-control" id="nombre"
                            placeholder="Ingrese su nombre">
                    </div>
                    <div class="form-group">
                        <label for="apellido_paterno">Apellido Paterno</label>
                        <input type="text" formControlName="apellido_paterno" class="form-control" id="apellido_paterno"
                            placeholder="Ingrese su apellido paterno">
                    </div>
                    <div class="form-group">
                        <label for="apellido_materno">Apellido Materno</label>
                        <input type="text" formControlName="apellido_materno" class="form-control" id="apellido_materno"
                            placeholder="Ingrese su apellido materno">
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="text" formControlName="telefono" class="form-control" id="telefono"
                            placeholder="Ingrese su teléfono">
                    </div>
                    <div class="form-group">
                        <label for="correo">Correo</label>
                        <input type="email" formControlName="correo" class="form-control" id="correo"
                            placeholder="Ingrese su correo">
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" formControlName="password" class="form-control" id="password"
                            placeholder="Ingrese su contraseña">
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirmar Contraseña</label>
                        <input type="password" formControlName="confirm_password" class="form-control"
                            id="confirm_password" placeholder="Confirme su contraseña">
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Datos de Especialista</h4>
                    <div class="form-group">
                        <label for="numero_de_colegiatura">Número de Colegiatura</label>
                        <input type="text" formControlName="numero_de_colegiatura" class="form-control"
                            id="numero_de_colegiatura" placeholder="Ingrese su nro de colegiatura">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cancelar Registro</button>
        <button type="button" class="btn btn-primary" (click)="register()">Registrarse</button>
    </div>
</ng-template>
-->