<div class="container mt-4">

    <h2 *ngIf="!selectedTest" class="mb-4">Tests Realizados</h2>
    <h2 *ngIf="selectedTest" class="mb-4">Detalle del Test</h2>

    <ng-container *ngIf="tests.length > 0; else noTestsTemplate">

        <div *ngIf="!selectedTest; else testDetail">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action" *ngFor="let test of paginatedTests">
                    <a href="javascript:void(0)" (click)="getResumen(test)" class="text-decoration-none">
                        <h5>{{ test?.tipo_test?.nombre }}</h5>
                        <div class="interpretacion">
                            <div>
                                <p><strong>Fecha realizada: </strong> {{ test?.fecha | date: 'dd/MM/yyyy - hh:mm:ss' }}</p>
                                <p class="mb-1 text-muted"><strong>Interpretacion: </strong>{{ test?.clasificacion?.interpretacion }}</p>
                                <p><strong>Estado: </strong>
                                <span class="badge" [ngClass]="{'bg-success': test.id_vigilancia, 'bg-warning': !test.id_vigilancia}">
                                {{ test?.id_vigilancia ? 'CONSIGNADA' : 'POR CONSIGNAR' }}
                            </span>
                                </p>
                            </div>
                            <p class="color" [style.background-color]="test.clasificacion.semaforo.color"></p>
                        </div>
                    </a>
                </li>
            </ul>

            <!-- Paginación -->
            <nav *ngIf="totalPages > 1" aria-label="Page navigation" class="mt-3">
                <ul class="pagination justify-content-center">
                    <li class="page-item" [class.disabled]="currentPage === 1">
                        <button class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </button>
                    </li>
                    <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
                        [class.active]="currentPage === i + 1">
                        <button class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</button>
                    </li>
                    <li class="page-item" [class.disabled]="currentPage === totalPages">
                        <button class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </button>
                    </li>
                </ul>
            </nav>

        </div>
    </ng-container>

    <ng-template #noTestsTemplate>
        <div class="alert alert-warning text-center" role="alert">
            No hay tests realizados para mostrar.
        </div>
    </ng-template>

    <!-- Test seleccionado -->
    <ng-template #testDetail>
        <div *ngIf="tipoTest; else NoTipoTest">
            <div class="card mb-4">
                <div class="card-header">
                    TEST SELECCIONADO - {{ tipoTest.nombre }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Interpretacion: {{ test?.clasificacion?.interpretacion }}</h5>
                    <h5 class="card-title">Análisis del especialista:</h5>
                    <div *ngIf="test?.vigilancia; else NoVigilancia">
                        <h6><strong>Detalle del test: </strong></h6>
                        <p><strong>→ Observaciones: </strong>{{ test?.vigilancia?.observacion }}</p>
                        <p><strong>→ Fundamentación: </strong>{{ test?.vigilancia?.fundamentacion }}</p>
                        <h6><strong>Diagnostico: </strong></h6>
                        <p><strong>→ Descripcion: </strong>{{ test?.vigilancia?.diagnostico?.descripcion }}</p>
                        <p><strong>→ Fundamentación: </strong>{{ test?.vigilancia?.diagnostico?.fundamentacion }}</p>
                        <h6><strong>Tratamiento: </strong></h6>
                        <p><strong>→ Descripcion: </strong>{{ test?.vigilancia?.tratamiento?.descripcion }}</p>
                        <p><strong>→ Fundamentación: </strong>{{ test?.vigilancia?.tratamiento?.fundamentacion }}</p>
                    </div>
                    <ng-template #NoVigilancia>
                        <p class="text-danger">NO HAY VIGILANCIA ASOCIADA</p>
                    </ng-template>
                    <h5 class="card-title">Resumen:</h5>
                    <ul class="list-group scrollbar" *ngIf="respuestas.length > 0; else Cargando">
                        <li class="list-group-item" *ngFor="let respuesta of respuestas; let i = index">
                            <p><strong>Pregunta {{ i+1 }}:</strong> {{ respuesta.pregunta.contenido }}</p>
                            <p><strong>Respuesta:</strong> {{ respuesta.alternativa.contenido }}</p>
                        </li>
                    </ul>
                    <ng-template #Cargando>
                        <div class="alert alert-warning text-center" role="alert">
                            CARGANDO RESPUESTAS...
                        </div>
                    </ng-template>
                    <button (click)="cancelTest()" class="btn btn-danger mt-3">Volver</button>
                </div>
            </div>
        </div>

        <ng-template #NoTipoTest>
            <div class="alert alert-info text-center" role="alert">
                CARGANDO TEST...
            </div>
        </ng-template>
    </ng-template>
</div>

<style>
    .color {
        padding: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .interpretacion {
        display: flex;
        justify-content: space-between;
    }

    .scrollbar{
        max-height: 300px;
        overflow-x: auto;
    }
</style>
