<div class="container mt-4">

    <h2 *ngIf="!selectedTest" class="mb-4">Tests Realizados</h2>
    <h2 *ngIf="selectedTest" class="mb-4">Detalle del Test</h2>

    <ng-container *ngIf="tests.length > 0; else noTestsTemplate">

        <div *ngIf="!selectedTest; else testDetail">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action" *ngFor="let test of tests">
                    <a href="javascript:void(0)" (click)="getResumen(test)" class="text-decoration-none">
                        <h5 class="mb-1">{{ test.fecha | date: 'dd/MM/yyyy' }}</h5>
                        <p class="mb-1 text-muted">{{ test.interpretacion }}</p>
                    </a>
                </li>
            </ul>
        </div>
    </ng-container>

    <ng-template #noTestsTemplate>
        <div class="alert alert-warning text-center" role="alert">
            No hay tests realizados para mostrar.
        </div>
    </ng-template>

    <ng-template #testDetail>
        <div *ngIf="tipoTest; else NoTipoTest">
            <div class="card mb-4">
                <div class="card-header">
                    TEST SELECCIONADO - {{ tipoTest.nombre }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Interpretacion: {{ test?.interpretacion }}</h5>
                    <h5 class="card-title">Resumen:</h5>
                    <ul class="list-group" *ngIf="preguntasContestadas.length == 10; else Cargando">
                        <li class="list-group-item" *ngFor="let preguntaContestada of preguntasContestadas">
                            <p><strong>Pregunta:</strong> {{ preguntaContestada.pregunta }}</p>
                            <p><strong>Respuesta:</strong> {{ preguntaContestada.alternativa }}</p>
                        </li>
                    </ul>
                    <ng-template #Cargando>
                        <div class="alert alert-warning text-center" role="alert">
                            CARGANDO RESPUESTAS...
                        </div>
                    </ng-template>
                    <button (click)="cancelTest()" class="btn btn-danger mt-3">Volver</button>
                </div>
            </div>
        </div>

        <ng-template #NoTipoTest>
            <div class="alert alert-info text-center" role="alert">
                CARGANDO TEST...
            </div>
        </ng-template>
    </ng-template>
</div>
