.square-card {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  border-radius: 10px;
  overflow: hidden;
  scale: .85;
}

.square-card .card-body {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.5); /* Overlay */
  z-index: 1;
  color: white;
}

.alumnos-card {
  background-image: url('../../assets/Estudiantes.jpg');  /* Change this to the correct path */
  background-size: cover;
  background-position: center;
}

.especialistas-card {
  background-image: url('../../assets/EspecialistaPsicologo.jpg'); /* Change this to the correct path */
  background-size: cover;
  background-position: center;
}

.alumnos-card::before, .especialistas-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Overlay color and opacity */
  z-index: 1;
}

.alumnos-card .card-body, .especialistas-card .card-body {
  position: relative;
  z-index: 2;
  background: none;
}

.alumnos-card .card-title, .especialistas-card .card-title {
  font-size: 1.5rem;
}

.alumnos-card .btn, .especialistas-card .btn {
  background-color: white;
  color: #007bff;
  border: none;
}

.alumnos-card .btn:hover, .especialistas-card .btn:hover {
  background-color: #e2e6ea;
  color: #0056b3;
}
