<div class="banner" style="background-color: #f8f9fa; padding: 20px 0; display: flex; justify-content: space-between; align-items: center;">
  <img src="../../assets/fondo-final-pagina-central.png" alt="Logo Izquierdo" style="max-height: 100px; margin-left: 12vw;">
  <img src="../../assets/fondo-final-pagina-central.png" alt="Logo Derecho" style="max-height: 100px; margin-right: 12vw;">
</div>
<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="row justify-content-between mx-auto px-3 w-100">
    <div class="col-md-5 mb-3">
      <div class="card alumnos-card square-card">
        <div class="card-body">
          <h5 class="card-title">ALUMNOS</h5>
          <a class="btn btn-primary" (click)="onClick('login-alumno')">INGRESAR</a>
        </div>
      </div>
    </div>
    <div class="col-md-5 mb-3">
      <div class="card especialistas-card square-card">
        <div class="card-body">
          <h5 class="card-title">ESPECIALISTAS</h5>
          <a class="btn btn-primary" (click)="onClick('login-especialista')">INGRESAR</a>
        </div>
      </div>
    </div>
  </div>
</div>
