.bg-cover {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 60px 0;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../../assets/sisvita-dashboard.jpg');
    transition: transform 0.5s;
}

.card img {
    object-fit: cover;
    height: 200px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}